.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .train-list, .team-list, .team-members {
  margin: 20px;
  width: 50%;
  }
  
  .train-list td {
  padding: 10px;
  }
  
  .team-list td {
  padding: 5px;
  }
  
  .team-list img {
  width: 50px;
  height: 50px;
  }
  
  .team-members ul {
  list-style: none;
  padding: 0;
  }
  
  .team-members li {
  margin: 10px 0;
  }
  
  